<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Post Title1</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio id ea placeat obcaecati, facilis numquam, culpa tenetur repellat sit libero fugit. Distinctio nostrum iusto debitis ratione eaque nobis harum ad ducimus, quasi officia, nulla laborum facilis ab provident delectus. Quibusdam, officiis repellat facilis vitae quo quidem adipisci possimus provident assumenda cupiditate saepe quos, inventore ullam, mollitia commodi sunt natus officia magnam modi consequatur. Doloremque tempore, modi quis necessitatibus, vero corporis suscipit in architecto quasi saepe laudantium, temporibus earum atque cumque mollitia ipsum. Excepturi soluta minima minus reprehenderit dolorem culpa mollitia iusto ut, a, adipisci quam cum quasi facilis officiis veritatis?
        </p>
        <button class="btn">Delete</button>
    </div>
    

    <style>
        div{
            margin: auto 2rem;
           
        }
        .btn{
           margin: 10px auto;
        }
    </style>
</body>
</html>